<div>

<h2>Did you try our best 25 beers?</h1>

 {{#each this.beers}}

    <div class= "random">
      <dir>   <img src="{{this.image_url}}" alt=""  width="55">
</dir>
<dir><h3>{{this.name}}</h3>
          
      <p><strong>Description:</strong> {{this.description}}</p>
      <p><strong>Tagline:</strong> {{this.tagline}}</p>
      </dir>
      

    </div>

  {{/each}}



</div>