
<div class="foto" >

<img   src="/images/beer.png"  alt="" width="300px">
</div>
<div class="botones">

<a href='/beers'><button class="boton">Check the beers!</button></a>
<a href='/random-beer'><button class="boton"  >Check a Random beers!</button></a>
</div>