/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/
Body {
   
  font-family: Arial, Helvetica, sans-serif;
}

.foto {
  
  text-align: center;
  
}

.boton {

flex-direction: column;
background-color:#2081c3 ;
align-items: center;
color: white;
font-size: 10px; 
width: 100px;
border-radius:5px ;
margin-bottom: 20px;



}

footer {
color:white;
background-color: #0a2c42 ;
}
